{
  "log": {
    "_recordingName": "decorator-http",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fd22f13b9f3a45c402fedb09107a5fcb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://ifconfig.io/all.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 302,
            "text": "{\"country_code\":\"GB\",\"encoding\":\"gzip\",\"forwarded\":\"2a01:4b00:88e0:3700:f5f3:5b42:50f1:df6b\",\"host\":\"2a01:4b00:88e0:3700:f5f3:5b42:50f1:df6b\",\"ifconfig_hostname\":\"ifconfig.io\",\"ip\":\"2a01:4b00:88e0:3700:f5f3:5b42:50f1:df6b\",\"lang\":\"*\",\"method\":\"GET\",\"mime\":\"*/*\",\"port\":22934,\"referer\":\"\",\"ua\":\"undici\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 142,
      },
      {
        "_id": "fd22f13b9f3a45c402fedb09107a5fcb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://ifconfig.io/all.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 302,
            "text": "{\"country_code\":\"GB\",\"encoding\":\"gzip\",\"forwarded\":\"2a01:4b00:88e0:3700:f5f3:5b42:50f1:df6b\",\"host\":\"2a01:4b00:88e0:3700:f5f3:5b42:50f1:df6b\",\"ifconfig_hostname\":\"ifconfig.io\",\"ip\":\"2a01:4b00:88e0:3700:f5f3:5b42:50f1:df6b\",\"lang\":\"*\",\"method\":\"GET\",\"mime\":\"*/*\",\"port\":44050,\"referer\":\"\",\"ua\":\"undici\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
