{
  "log": {
    "_recordingName": "ch6-jobs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6b6db1e4d9b0031624493049f2e9d690",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "fulltime",
              "value": "true"
            }
          ],
          "url": "https://apis.camillerakoto.fr/fakejobs/jobs?fulltime=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 11085,
            "text": "[{\"id\":\"13\",\"name\":\"Uber\",\"author\":\"uber@company.com\",\"date\":\"11-03-2022\",\"salary\":\"1000 USD\",\"fulltime\":\"true\",\"city\":\"Wuhan\",\"zipcode\":\"23940\",\"country\":\"China\",\"title\":\"Professional Bus Driver\",\"content\":\"Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentiu optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit, tenetur[...]
